/* ==============================
        table of contents
============================== */

/* 
   1-Header Styles 
   2-Navigation Styles
   3-Dark/Light Mode Button Styles
   4-Menu Button Styles
   5-Icon Styles
   6-Model Pop Up Styles
   7-Mobile Styles
*/

/* ==============================
          1-Header Styles
============================== */
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

/* ==============================
       2-Navigation Styles
============================== */
header.flex nav {
    background: var(--bgheader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 2px 2px 2px rgba(49, 48, 48, 0.352);
}

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}

/* ==============================
 3-Dark/Light Mode Button Styles
============================== */
header button {
    font-size: 1.2rem;
}

/* ==============================
      4-Menu Button Styles
============================== */
header button.menu {
    display: none;
}

/* ==============================
          5-Icon Styles
============================== */
header .icon-menu,
header button.mode {
    background-color: var(--bgheader);
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid rgba(244, 165, 96, 0.249);
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: var(--subtitle);
}

header .icon-menu:hover,
header button.mode:hover {
    border: 1px solid rgb(244, 165, 96);
    color: var(--title);
    transition: 0.3s;
}

header .icon-close {
    font-size: 1.3rem;
    color: var(--subtitle);
    transition: 0.3s;

}

header .icon-close:hover {
    font-size: 1.6rem;
    color: crimson;
    rotate: 180deg;
}

/* ==============================
      6-Pop Up Model Styles
============================== */
header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background: rgba(40, 40, 48, 0.91);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

@keyframes mymove {
    0% {scale: 0;}
    60% {scale: 1.1;}
    100% {scale: 1;}
}

header .fixed ul.model {
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    animation: mymove 0.7s ease-out;
}

header .fixed ul.model li {
    border-bottom: 2px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.model li:last-child {
    border-bottom: none;
}

header .fixed ul.model li a {
    font-size: 1rem;
}

header .fixed ul.model li:first-child {
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1.75rem;
}

/* Responsive Styles */

/* ==============================
        7-Mobile Styles
============================== */
@media (max-width: 700px) {
    header.flex nav {
        display: none;
    }

    header button.menu {
        display: block;
    }
}